@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-chillax: var(--font-chillax);
}

:root {
  --radius: 0.45rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(0.985 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.141 0.005 285.823);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.95 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.505 0.213 27.518);
  --success: oklch(0.696 0.17 162.48);
  --success-foreground: oklch(1 0 0);
  --warning: oklch(0.8 0.16 86);
  --warning-foreground: oklch(0.45 0.08 38.83);
  --border: oklch(0.89 0.004 286.32);
  --input: oklch(0.97 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
}

.dark {
  --background: oklch(0.2046 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.2221 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.2445 0 0);
  --popover-foreground: oklch(0.2046 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.2046 0 0);
  --secondary: oklch(0.2527 0 0);
  --secondary-foreground: oklch(0.9 0 0);
  --muted: oklch(0.2809 0 0);
  --muted-foreground: oklch(0.5965 0 0);
  --accent: oklch(0.31 0.006 285.885);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --success: oklch(0.696 0.17 162.48);
  --success-foreground: oklch(1 0 0);
  --warning: oklch(0.8 0.16 86);
  --warning-foreground: oklch(27.92% 0.0742 45.64);
  --border: oklch(0.2768 0 0);
  --border-lighter: oklch(0.3446 0 0);
  --input: oklch(1 0 0 / 3%);
  --ring: oklch(0.705 0.015 286.067);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  html {
    transition:
      color 350ms ease,
      background-color 350ms ease;
  }
}

@layer utilities {
  .font-chillax {
    font-family: var(--font-chillax);
  }
}

button:not(:disabled),
[role="button"]:not(:disabled) {
  cursor: pointer;
}
